<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>샘플 쇼핑몰</title>
</head>
<body>

    <form action="/login" method="post" enctype="multipart/form-data">

        <input type="radio" name="userFlag" value="0">구매자 로그인<br>
        <input type="radio" name="userFlag" value="1">판매자 로그인<br>


        <input name="inputId" type="text"><br>
        <input name="inputPw" type="password"><br>
        <input type="submit" value="로그인"><br>
        <a href="customer/save">구매자 회원 가입</a><br>
        <a href="seller/save">판매자 회원 가입</a><br>

    </form>



</body>
</html>